@model CreditReport.Models.People.PeopleAddModel

@{
    ViewData["Title"] = "Crear Persona";
}

<div class="container-fluid bg-grey text-center">

    <h2>Registrar Historial de Creditos de una Persona</h2>

    <form asp-action="Agregar">
        <div class="form-horizontal">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Favor introducir las siguientes informaciones
                </div>
                <div class="panel-body">

                    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                    {
                        <div class="alert alert-danger">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    }

                    <div class="form-group">
                        <label asp-for="Identification" class="col-md-2 control-label cedula"></label>
                        <div class="col-md-10">
                            <input asp-for="Identification" class="form-control" />
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="Description"class="form-control" rows="5" cols="40" placeholder="Favor describir la situacion lo mas detallada posible, especificando el monto y la fecha"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            $(".cedula").click(function () {
                $.ajax({
                    url: "/people/cedula",
                    cache: false,
                    data: { cedula: cedula },
                    success: function (html) {
                        //$("#results").append(html);
                    },
                    erro: function (html) {
                        // $("#results").append(html);
                    }
                });
            });

        </script>
    }
