@model PaginatedList<CreditReport.Data.PersonalInformation.Person>

    @{
    ViewData["Title"] = "Index";

        var alerts = @ViewBag.Info as string;
    }
<div  class="container-fluid bg-grey text-center">

    <p>
        <h2>Consultar persona por numero de cedula</h2>
    </p>
    <form class="form-inline">
        <div class="input-group">
            <input type="text" name="cedula" class="form-control" size="50" placeholder="Favor digitar el número de la cédula" required value="@ViewData[" currentFilter"]">
            <div class="input-group-btn">
                <button class="btn btn-danger" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
            <div>
                @if (!string.IsNullOrWhiteSpace(alerts))
            {
                    <div class="alert alert-warning">
                        <strong>@ViewBag.Info</strong>
                    </div>
                }
            </div>

        </div>
    </form>

</div>


@*<form class="form-inline">
    <div class="input-group">
         <p>
        <h2>Consultar persona por numero de cedula</h2>
    </p>
   
         
        <input type="email" class="form-control" size="50" placeholder="Favor digitar el número de la cédula" required>
        <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
    </div>
</form>
<div class="container">
    <div class="input-group">
        <p>
            <h2>Consultar persona por numero de cedula</h2>
        </p>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Favor digitar el número de la cédula:</div>
                <div class="panel-body">
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" size="50" name="cedula" placeholder="Cedula" value="@ViewData[" currentFilter"]">
                            <div class="input-group-btn">
                                <button class="btn btn-danger" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>

 
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>*@