@{
    ViewData["Title"] = "Quienes Somos";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Este sitio esta dedicado a la recoleccion de informaciones crediticia para ayudar a los pequenos comerciantes que de otra forma no podran tener access a la misma</p>
