<div class="container-fluid text-center bg-grey">
    <h2>Porta folio</h2>
    <h4>Lo Que Hemos Creados</h4>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="paris.jpg" alt="Moca">
                <p><strong>Gaspar Hernadez</strong></p>
                <p>Si, hemos ayudado a mas de mil colmados en Rio San Juan</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="newyork.jpg" alt="La linea">
                <p><strong>Santiago Rodriguez</strong></p>
                <p>Encontramos a todos lo mala pagas en la linea</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="sanfran.jpg" alt="San Francisco">
                <p><strong>San Francisco</strong></p>
                <p>Nos dio trabajo pero lo conseguimo, se acobo el mal fio!</p>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Lo que Nuestros Clientes Estan Diciendo</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4>"Estos tigueres son el diablo, yo estaba buscando un tiguere y lo encontre aqui de una vez"<br><span style="font-style:normal;">Papino el mocho, Colmado la solucion, los callejones, Puerto Plata</span></h4>
        </div>
        <div class="item">
            <h4>"WOW!!!... Vi a Linda hoy!!"<br><span style="font-style:normal;">Chichi Guelo, Compraventa Me jodi, Santiado, RD</span></h4>
        </div>
        <div class="item">
            <h4>"Esta Compañia me ayudo a organizar mis creditos, ahora se a quien le puedo fiar"<br><span style="font-style:normal;">Sabino, De la Barra Pando, Yasica, PP</span></h4>
        </div>
        <div class="item">
            <h4>"El Fui Data Py, jala mas que una yunta de buy!"<br><span style="font-style:normal;">Tatico, El de Tatica, La Yuca, Santo Domingo</span></h4>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
